<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Repeat Counter</title>
</head>
<body>
    <div class="container">
        <h1>Word Repeat Counter!</h1>
        <h4>The word {{ word }} appears {{ result }} times in {{ string}}</h4>

        <!-- Return to home page (form.html.twig) -->
        <form action='/'>
            <button type='submit' class='btn btn-default'>Home</button>
        </form>
    </div>

</body>
</html>
